image: node:18

stages:
  - build
  - deploy

build_frontend:
  stage: build
  script:
    - cd frontend
    - npm install --legacy-peer-deps
    - npm run build
  artifacts:
    paths:
      - frontend/build
    expire_in: 1 hour

pages:
  stage: deploy
  needs:
    - job: build_frontend
      artifacts: true
  script:
    - rm -rf public
    - mkdir public
    - cp -r frontend/build/* public/
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
